/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: #99ff99;
}

#heading{
	-fx-font-size: 30; 
	-fx-font-family: Calibri Light;
}

#Enter{
	-fx-font-size: 14;
}

